<div class="container">
   <h5>Create Student</h5>
   <form>
      <div class="row">
         <div class="col-md-3">
            <div class="form-group label-floating is-empty">
								<label class="control-label">Name</label>
								<input type="text" name="name" class="form-control">
							<span class="material-input"></span></div>
         </div>
         <div class="col-md-3">
            <div class="form-group label-floating is-empty">
								<label class="control-label">Father Name</label>
								<input type="text" name="fathername" class="form-control">
							<span class="material-input"></span></div>
         </div>
         <div class="col-md-3">
            <div class="form-group label-floating is-empty">
								<label class="control-label">Mother Name</label>
								<input type="text" name="mothername" class="form-control">
							<span class="material-input"></span></div>
         </div>
         <div class="col-md-3">
            <div class="form-group label-floating is-empty">
								<label class="control-label">Aadhar Number</label>
								<input type="text" name="aadharnumber" class="form-control">
							<span class="material-input"></span></div>
         </div>
      </div>
      <div class="row">
          <div class="col-md-3">
             <div class="form-group label-floating is-empty">
                 <label class="control-label">DOB</label>
                 <input type="text" name="dob" class="form-control">
               <span class="material-input"></span></div>
          </div>
          <div class="col-md-3">
             <div class="form-group label-floating is-empty">
                 <label class="control-label">Gender</label>
                 <input type="text" name="gender" class="form-control">
               <span class="material-input"></span></div>
          </div>
          <div class="col-md-3">
             <div class="form-group label-floating is-empty">
                 <label class="control-label">Mobile Nmuber</label>
                 <input type="text" name="mobilenumber" class="form-control">
               <span class="material-input"></span></div>
          </div>
          <div class="col-md-3">
             <div class="form-group label-floating is-empty">
                 <label class="control-label">Date Of Joining</label>
                 <input type="text" name="doj" class="form-control">
               <span class="material-input"></span></div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-3">
             <div class="form-group label-floating is-empty">
                 <label class="control-label">Standard</label>
                 <input type="text" name="standard" class="form-control">
               <span class="material-input"></span></div>
          </div>
          <div class="col-md-3">
             <div class="form-group label-floating is-empty">
                 <label class="control-label">Blood Group</label>
                 <input type="text" name="bloodgroup" class="form-control">
               <span class="material-input"></span></div>
          </div>
          <div class="col-md-3">
             <div class="form-group label-floating is-empty">
                 <label class="control-label">Father Occupation</label>
                 <input type="text" name="fatheroccupation" class="form-control">
               <span class="material-input"></span></div>
          </div>
          <div class="col-md-3">
             <div class="form-group label-floating is-empty">
                 <label class="control-label">Mother Occupation</label>
                 <input type="text" name="motheroccupation" class="form-control">
               <span class="material-input"></span></div>
          </div>
       </div>
       <div class="row">
           <div class="col-md-offset-4 col-md-4 text-center">
                <button class="btn btn-primary btn-round">Create Student</button>
           </div>
       </div>
       <hr>
       <div class="row text-center">
           <div class="col-md-3">
               <h4>Powered by School</h4>
           </div>
           <div class="col-md-6"></div>
           <div class="col-md-3">
                <h4>Copyrights @ Triodesk</h4>
            </div>
       </div>
   </form>
</div>
