<div class="container">
    <h5>Add Teacher</h5>
    <form #addTeacherForm="ngForm" (ngSubmit)='newTeacher(addTeacherForm.value)' method="#" action="#">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Name</label>
                    <input type="text" name="name" #name="ngModel" class="form-control" minlength="4" ngModel required>
                    <div *ngIf="name.errors && name.touched" class="alert text-danger">
                        <div [hidden]="!name.errors.required">
                            * Enter Name
                        </div>
                        <div [hidden]="!name.errors.minlength">
                            * Please fill atleast 4 character
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Father Name</label>
                    <input type="text" name="fathername" #fathername="ngModel" class="form-control" minlength="4" ngModel required>
                    <div *ngIf="fathername.errors && fathername.touched" class="alert text-danger">
                        <div [hidden]="!fathername.errors.required">
                            * Enter Fathername
                        </div>
                        <div [hidden]="!name.errors.minlength">
                            * Please fill atleast 4 character
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Mother Name</label>
                    <input type="text" name="mothername" #mothername="ngModel" class="form-control" minlength="4" ngModel required>
                    <div *ngIf="mothername.errors && mothername.touched" class="alert text-danger">
                        <div [hidden]="!mothername.errors.required">
                            * Enter Mothername
                        </div>
                        <div [hidden]="!name.errors.minlength">
                            * Please fill atleast 4 character
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Aadhar Number</label>
                    <input type="text" name="aadharnumber" #aadharnumber="ngModel" class="form-control" ngModel required>
                    <div *ngIf="aadharnumber.errors && aadharnumber.touched" class="alert text-danger">
                        <div [hidden]="!mothername.errors.required">
                            * Enter aadharnumber
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">DOB</label>
                    <input type="date" name="dob" #dob="ngModel" class="form-control" ngModel required>
                    <div *ngIf="dob.errors && dob.touched" class="alert text-danger">
                        <div [hidden]="!dob.errors.required">
                            * Select dob
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <!-- <input type="text" name="gender" ngModel="gender" class="form-control"  ngModel required > -->
                    <select name="gender" #gender="ngModel" class="form-control" ngModel required>
                        <option value="" disabled> Gender </option>
                        <option value="Male"> Male </option>
                        <option value="Female"> Female </option>
                        <option value="Other"> Other </option>
                    </select>
                    <div *ngIf="gender.errors && gender.touched" class="alert text-danger">
                        <div [hidden]="!gender.errors.required">
                            * Select gender
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Mobile Nmuber</label>
                    <input type="text" name="mobilenumber" #mobilenumber="ngModel" class="form-control" ngModel required>
                    <div *ngIf="mobilenumber.errors && mobilenumber.touched" class="alert text-danger">
                        <div [hidden]="!mobilenumber.errors.required">
                            * Enter mobilenumber
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Date Of Joining</label>
                    <input type="text" name="doj" #doj="ngModel" class="form-control" ngModel required>
                    <span class="material-input"></span>
                    <div *ngIf="doj.errors && doj.touched" class="alert text-danger">
                        <div [hidden]="!doj.errors.required">
                            * Enter doj
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <!-- <input type="text" name="standard" #standard="ngModel" class="form-control"  ngModel required > -->
                    <select name="qualification" #standard="ngModel" class="form-control" ngModel required>
                        <option value="" disabled> Qualification </option>
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                        <option value="5"> 5 </option>
                        <option value="6"> 6 </option>
                        <option value="7"> 7 </option>
                        <option value="8"> 8 </option>
                        <option value="9"> 9 </option>
                        <option value="10"> 10 </option>
                        <option value="11"> 11 </option>
                        <option value="12"> 12</option>
                    </select>
                    <div *ngIf="standard.errors && standard.touched" class="alert text-danger">
                        <div [hidden]="!standard.errors.required">
                            * Enter standard
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <!-- <label class="control-label">Blood Group</label> -->
                    <!-- <input type="text" name="bloodgroup" #bloodgroup="ngModel" class="form-control"  ngModel required > -->
                    <select name="bloodgroup" #bloodgroup="ngModel" class="form-control" ngModel required>
                        <option value="" disabled> Blood Group </option>
                        <option value="A+"> A+ </option>
                        <option value="B+"> B+ </option>
                        <option value="O+"> O+ </option>
                    </select>
                    <div *ngIf="bloodgroup.errors && bloodgroup.touched" class="alert text-danger">
                        <div [hidden]="!bloodgroup.errors.required">
                            * Enter bloodgroup
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <!-- <label class="control-label">Father Occupation</label> -->
                    <!-- <input type="text" name="fatheroccupation" #fatheroccupation="ngModel" class="form-control" minlength="4"  ngModel required > -->
                    <select name="fatheroccupation" #fatheroccupation="ngModel" class="form-control" ngModel required>
                        <option value="" disabled> Father Occupation </option>
                        <option value="Employeer"> Employeer </option>
                        <option value="Goverment Employee"> Goverment Employee </option>
                        <option value="Daily wage"> Daily wage </option>
                    </select>
                    <div *ngIf="fatheroccupation.errors && fatheroccupation.touched" class="alert text-danger">
                        <div [hidden]="!fatheroccupation.errors.required">
                            * Enter fatheroccupation
                        </div>
                        <div [hidden]="!fatheroccupation.errors.minlength">
                            * Please fill atleast 4 character
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group label-floating is-empty">
                    <!-- <label class="control-label">Mother Occupation</label> -->
                    <!-- <input type="text" name="motheroccupation" #motheroccupation="ngModel" class="form-control" minlength="4" ngModel required > -->
                    <select name="motheroccupation" #motheroccupation="ngModel" class="form-control" ngModel required>
                        <option value="" disabled> Mother Occupation </option>
                        <option value="Employeer"> Employeer </option>
                        <option value="Goverment Employee"> Goverment Employee </option>
                        <option value="Daily wage"> Daily wage </option>
                    </select>
                    <div *ngIf="motheroccupation.errors && motheroccupation.touched" class="alert text-danger">
                        <div [hidden]="!motheroccupation.errors.required">
                            * Enter motheroccupation
                        </div>
                        <div [hidden]="!motheroccupation.errors.minlength">
                            * Please fill atleast 4 character
                        </div>
                    </div>
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Select Subjects</h5>
            </div>
            <div class="col-md-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="tamil" [(ngModel)]="tamil" (change)="check()" ngModel>
                        <span class="checkbox-material"></span>
                        Tamil
                    </label>
                    <label>
                        <input type="checkbox" name="english" [(ngModel)]="english" ngModel>
                        <span class="checkbox-material"></span>
                        English
                    </label>
                    <label>
                        <input type="checkbox" name="maths" [(ngModel)]="maths"  ngModel>
                        <span class="checkbox-material"></span>
                        Maths
                    </label>
                    <label>
                        <input type="checkbox" name="science" [(ngModel)]="science" ngModel>
                        <span class="checkbox-material"></span>
                        Science
                    </label>
                    <label>
                        <input type="checkbox" name="social" [(ngModel)]="social" ngModel>
                        <span class="checkbox-material"></span>
                        SocialScience
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 text-center">
                <button class="btn btn-primary btn-round" type="submit" [disabled]="!addTeacherForm.form.valid">Create Student</button>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-md-3">
                <h4>Powered by School</h4>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <h4>Copyrights @ Triodesk</h4>
            </div>
        </div>
    </form>
</div>