<div class="container">
  <h5>Students List</h5>
   <div class="row">
       <div class="col-md-4 col-offset-8">
          <ul>
            <li>12th Standard</li>
            <li>11th Standard</li>
            <li>10th Standard</li>
            <li>8th Standard</li>
            <li>7th Standard</li>
            <li>6th Standard</li>
            <li>5th Standard</li>
            <li>4th Standard</li>
            <li>3rd Standard</li>
            <li>2nd Standard</li>
            <li>1st Standard</li>
          </ul>
       </div>
   </div>
   <hr>
   <div class="row text-center">
      <div class="col-md-3">
          <h4>Powered by School</h4>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3">
           <h4>Copyrights @ Triodesk</h4>
       </div>
  </div>
</div>
